.content {
  overflow-y: auto;
  overflow: hidden;
  height: 100%;
}
.main-content {
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav-bar {
  height: 15vh;
}
.footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height: 15vh;
}
